name: "npm"
on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]
jobs:
    npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Setup SOPS
              uses: nhedger/setup-sops@v2
              with:
                  version: "latest"
            - name: Decrypt database file
              env:
                  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
              run: |
                  sops --decrypt KoboReader.sqlite.enc > KoboReader.sqlite
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"
            - name: Install dependencies
              run: npm install
            - name: Run lint
              run: npm run lint
            - name: Run tests
              run: npm run test
            - name: Run build
              run: npm run build
