name: "npm"
on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]
jobs:
    npm:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
            attestations: write
        steps:
            - uses: actions/checkout@v6
            - name: Setup SOPS
              uses: nhedger/setup-sops@v2
              with:
                  version: "latest"
            - name: Decrypt database file
              env:
                  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
              run: |
                  sops --decrypt KoboReader.sqlite.enc > KoboReader.sqlite
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"
            - name: Install dependencies
              run: npm install
            - name: Run lint
              run: npm run lint
            - name: Run tests
              run: npm run test
            - name: Run build
              run: npm run build
            - name: Upload build artifact
              uses: actions/upload-artifact@v4
              with:
                  name: main-js-build
                  path: main.js
                  retention-days: 7

            - name: Generate artifact attestation
              if: github.event_name == 'push' && github.ref == 'refs/heads/master'
              uses: actions/attest-build-provenance@v3
              with:
                  subject-path: main.js
